:root {
  /* Colors */
  --color-primary: #000;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f7f7f7;
  --color-neutral-300: #d6d6d6;
  --color-neutral-400: #999999;
  --color-neutral-500: #737373;
  --color-neutral-600: #4d4d4d;
  --color-neutral-700: #1a1a1a;
  --color-success: #006611;

  /* Font Weight */
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Font Family */
  --font-family-default: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-neutral-200);
  font-family: var(--font-family-default);
}

* {
  box-sizing: border-box;
}
